@import 'breakpoints';

body.modal-open {
	height: 100%;
	overflow: hidden;
}

.modal {
	$parent: &;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1000;
	height: 100%;

	transition: all 0.2s ease;
	display: flex;

	&__close {
		position: absolute;

		top: 50%;
		right: 0;
		width: 30px;
		height: 30px;
		transform: translateY(-50%);
	}

	&--after-open {
		background-color: rgba(0, 0, 0, 0.7);
		height: 100%;
	}

	&--before-close {
		background-color: rgba(0, 0, 0, 0);
	}

	&--placeholder {
		display: none;

		&#{$parent}--after-open {
			display: flex;
		}
	}

	&__content {
		border: 0px solid #000;
		background: #fff;
		-webkit-overflow-scrolling: touch;
		border-radius: 0;
		outline: none;
		transition: all 0.2s ease-out 0s;
		flex-grow: 1;
		transform: translateX(0);

		&-after-open {
		}

		&-before-close {
			transition: all 0.3s linear 0s;
		}
	}

	&__chrome {
		background-color: #fff;
		color: #000;
	}

	&__head,
	&__body {
	}

	&__head {
		position: relative;
		background: #fff;
		padding: 20px 30px 0 30px;

		&-inner {
			position: relative;
			border-bottom: 1px solid #ccc;
			padding: 20px 0;
			padding-right: 35px;
		}

		&-title {
			position: relative;

			&:not(:last-child) {
				//margin-bottom: 15px;
			}
		}

		#{$parent}__close {
			/*
			position: absolute;
			top: 50%;
			right: 0;
			width: 30px;
			height: 30px;
			transform: translateY(-50%);
			//color: inherit;

			svg {
				width: 15px;
				height: 15px;
			}
			*/
		}
	}

	&__body {
		padding: 20px 30px;
	}

	&__title {
		margin: 0;
	}

	&--center {
		align-items: center;
		justify-content: center;

		#{$parent}__content {
			background: #000;
			width: 80%;
			max-width: 900px;
			opacity: 0;
		}

		&#{$parent}--after-open {
			#{$parent}__content {
				opacity: 1;
			}
		}

		&#{$parent}--before-close {
			#{$parent}__content {
				opacity: 0;
			}
		}

		#{$parent}__chrome {
			margin: 20px;
		}

		#{$parent}__body {
			max-height: 80vh;
			overflow-y: auto;
		}
	}

	&--left,
	&--right {
		#{$parent}__inner {
			flex: 0 0 80%;
		}

		#{$parent}__chrome {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		#{$parent}__body {
			flex-grow: 1;
			overflow-y: auto;
		}

		#{$parent}__content {
			max-width: 450px;
		}

		&#{$parent}--after-open {
			#{$parent}__content {
				transform: translateX(0);
			}
		}
	}

	&--left {
		@include breakpoint($lg) {
			&#{$parent}--before-close {
				#{$parent}__close {
					display: none;
				}
			}
		}

		#{$parent}__content {
			transform: translateX(-100%);
		}

		&#{$parent}--before-close {
			#{$parent}__content {
				transform: translateX(-100%);
			}
		}
	}

	&--right {
		justify-content: flex-end;

		#{$parent}__content {
			transform: translateX(100%);
		}

		&#{$parent}--before-close {
			#{$parent}__content {
				transform: translateX(100%);
			}
		}
	}

	&--chrome {
		#{$parent}__content {
			background: transparent;
		}
	}
}
